.id {
  width: 400px;
  border: solid gray;
  background-color: rgb(211, 202, 191);
}

.header {
  text-align: center;
  background-color: #e0e0e0;
  margin-bottom: 15px;
  margin-left: 15px;
  margin-right: 15px;
  margin-top: 10px;
}

.info {
  text-align: center;
  margin: 15px;
}
.info img {
  width: 100%;
  height: 250px;
}

.footer {
  margin-top: 40px;
  text-align: center;
  color: gray;
}
