.header {
  text-align: center;
  font-size: 24px;
  background-color: #e0e0e0;
  padding: 5px;
  margin-top: 15px;
  margin-bottom: 20px;
  margin-left: 24px;
  margin-right: 24px;
}

.info {
  text-align: center;
  margin: 24px;
}
.info img {
  width: 100%;
  height: 500px;
}

.footer {
  margin-top: 40px;
  text-align: center;
  color: gray;
}
