* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.main {
  display: flex;
  height: 100vh;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.id {
  width: 400px;
  border: solid gray;
  background-color: rgb(211, 202, 191);
}

.header {
  text-align: center;
  background-color: #e0e0e0;
}

.info {
  text-align: center;
}

.info img {
  width: 100%;
  height: 250px;
}

.footer {
  margin-top: 40px;
  text-align: center;
  color: gray;
}
@media (width<720) {
  .main {
    width: 200px;
    height: 400px;
  }
}
